<!DOCTYPE html>
        <html>
           <head>
              <title>OSM and Leaflet</title>
              <link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
           </head><body>
           	<h1> {{marker.Address}} </h1>
   

             <div id = "map" style = "width: 900px; height: 580px"></div>
              
              
              <a href="http://www.openstreetmap.org/?lat=43.8566855&amp;
   lon=18.3983735&amp;zoom=17&amp;layers=M">
              
              <script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
              <script>
                 // Creating map options
                 
                 /*var mapOptions = {
                    center: [{{ marker['lat'] }}, {{ marker['long'] }}],//[46.263996, 6.029845731313132],
                    zoom: 10
                 }*/
                
                 // Creating a map object
                 var map = new L.map('map'); //, mapOptions);
                 
                 // Creating a Layer object
                 var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');  
                 
                 // Adding layer to the map
                 map.addLayer(layer);
                 
                 layers.markers([46.263996, 6.029845731313132]).addTo(map);
              </script>
           </body>
           
        </html>
