<!-- Playfair, Margarine, Caveat, Alegreya, Acme, Cormorant, Gelasio, Alice, Petrona   Monoton-->
<!--  ***Rajdhani, ***Play, ***Vollkorn, **Merienda -->
<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Petrona"> -->


<!DOCTYPE html>
<html>
<head>
	<title>OBOTR</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Vollkorn">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		body,h1,h2,h3,h4,h5,h6 {font-family: "Vollkorn", Arial, Helvetica, sans-serif}
		.myLink {display: none}
		
		body {
		  background-image: url('../static/img/books-on-grass.jpg');
		   background-repeat: no-repeat;
		  background-attachment: fixed;
		  background-size: cover; /*100% 100%;*/
		} 
	</style>
</head>
<body class="w3-light-grey">

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-light-grey w3-card w3-left-align w3-medium">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-purple w3-medium" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-pink">Home</a>

    <a href="/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-right w3-text-black"><i class=""></i>Login</b></a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/" class="w3-bar-item w3-button w3-padding-large">Home</a>
  </div>
</div>


<!-- Header -->
<header class="w3-display-container w3-content w3-hide-small" style="max-height:1080px">
  <!--<img class="w3-image" src="../static/img/cute1.jpeg" alt="home"> -->
  <div class="w3-display-middle w3-margin-175" style="width:65%">
    <div class="w3-bar w3-black">
      <button class="w3-bar-item w3-button"><i class=""></i></button>
    </div> 
    <!-- Tabs -->
    <div class="w3-container w3-light-grey w3-padding-16">
    <form action="/search/" enctype="multipart/form-data" method="post">
      <h3>Find your Book Box !</h3>
       <p>Roundtrip from $79</p>
       
       
  <div class="w3-content">
  
    <!--<h3 class="w3-center w3-jumbo" style="margin-bottom:64px">Find your place !</h3>-->
 
     <form action="place?id" enctype="multipart/form-data" method="post">
     <div class="w3-container w3-padding-32 w3-white">
      <span class="w3-right w3-tag w3-purple w3-round w3-medium"> km</span>
      <h4><b>Create account</b></h4>
      <button class="w3-right w3-button w3-margin-bottom w3-small w3-dark-grey">Let's see ! >></button>      
      </div><br>
      </form>
       
  </div>
  								 <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      		<button class="w3-button w3-dark-grey" name="search-nearest" type="submit">Search</button></p>
      	</form>
    </div>
  </div>
</header>

<!-- Page content -->
<!--<div class="w3-content" style="max-width:1100px;">
  <div class="w3-container w3-margin-toop">
    <h3></h3>
    <p></p>
  </div>
  <div class="w3-row-padding">
    <div class="w3-half w3-margin-bottom ">
      <div class="w3-container w3-white">
        <h3>Find it by yourself !</h3>
        <p>Get the full list of book boxes.</p>
        <p class="w3-opacity">Roundtrip from $79</p>
        
        <form action="/all/" method="post">
          <button class="w3-button w3-margin-bottom w3-purple" name="allBB" type="submit" >Let's see ! >></button>
        </form>
        
      </div>
    </div>
    <div class="w3-half w3-margin-bottom">-
      <div class="w3-container w3-white">
        <h3>Add ur own place !</h3>
        <p>You want to particpate ? Give the address of the closest book box to you.</p>
         <p class="w3-opacity">One-way from $39</p>
        <button class="w3-button w3-margin-bottom w3-pink">Send it !>></button>
      </div>
    </div>
  </div> -->

  <!-- Newsletter -->
  <!--<div class="w3-container">
    <div class="w3-panel w3-padding-16 w3-black w3-opacity w3-card w3-hover-opacity-off">
      <h2>Get the best offers first!</h2>
      <p>Join our newsletter.</p>
      <label>E-mail</label>
      <input class="w3-input w3-border" type="text" placeholder="Your Email address">
      <button type="button" class="w3-button w3-red w3-margin-top">Subscribe</button>
    </div>
  </div>-->
  
  <!-- Contact -->
  <!--<div class="w3-container">
    <h2>Contact</h2>
    <p>Let us book your next trip!</p>
    <i class="fa fa-map-marker" style="width:30px"></i> Chicago, US<br>
    <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
    <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message" required name="Message"></p>
      <p><button class="w3-button w3-black w3-padding-large" type="submit">SEND MESSAGE</button></p>
    </form>
  </div> -->
  
<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-center w3-opacity w3-margin-toop">
  <h5>Find Us On</h5>
  <div class="w3-xlarge w3-padding-16">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="https://www.boites-a-livres.fr/" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
</body>
</html>
